.graph3d{
	margin-left: 300px;
}

.figuresMenu {
	position: absolute;
	flex-direction: column;
	display: flex;
	align-items: center;
	background-color: none;
	width: 27%;
	height: 500px;
	scrollbar-gutter: stable;
	top: 0;
	left: 0;
	transition: 0.2s;
	margin-top: 80px;
	overflow: hidden;
}

.allows {
	display: block;
}

.figListBtn {
	background-image: url(../../modules/graph2D/Arrow.svg)center no-repeat;
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--gray-light);
	width: 30px;
	height: 30px;
	scrollbar-gutter: stable;
	top: 0;
	left: 0;
	transition: 0.4s;
	margin-top: 50px;
}

.figListBtn:hover {
	color: var(--white);
	background-color: var(--primary);
}

.addFig {
	box-sizing: border-box;
	cursor: pointer;
	text-align: center;
	border-radius: 5px;
	color: var(--black);
	background: none;
	border: 1px solid var(--gray);

}

.addFig:hover {
	color: var(--white);
	background-color: var(--primary);
}

.figsContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}